In [1]:
import crime as cr
import pandas as pd, numpy as np
import chart_tools as ct
import plotly.express as px, seaborn as sns

In [4]:
df1 = pd.read_csv('output/16_19.csv', index_col=0)
df2 = pd.read_csv('output/97_15.csv', index_col=0)

In [20]:
# COMBINE THEM
df = pd.concat([df1, df2], axis=0)

# Rename cols
df = df.rename(columns={'incident_date': 'date', 'incident_hour': 'hour', 'age_num': 'age', 'offense_category_name': 'offense_category'})

df = df.reset_index(drop=True)

df

,county,date,hour,age,crime_against,offense_name,offense_category
0,Jefferson,2017-08-26,17.0,52.0,Person,Aggravated Assault,Assault Offenses
1,Jefferson,2017-11-22,20.0,29.0,Person,Aggravated Assault,Assault Offenses
2,Jefferson,2017-12-28,21.0,NaN,Property,Motor Vehicle Theft,Motor Vehicle Theft
3,Rio Grande,2017-01-03,11.0,NaN,Property,Destruction/Damage/Vandalism of Property,Destruction/Damage/Vandalism of Property
4,Adams,2017-01-16,20.0,24.0,Property,Destruction/Damage/Vandalism of Property,Destruction/Damage/Vandalism of Property
...,...,...,...,...,...,...,...
6770661,Eagle,2015-11-15,11.0,44.0,Person,Simple Assault,Assault Offenses
6770662,Eagle,2015-11-22,15.0,15.0,Society,Weapon Law Violations,Weapon Law Violations
6770663,Moffat,2015-11-03,21.0,17.0,Society,Drug/Narcotic Violations,Drug/Narcotic Offenses
6770664,Moffat,2015-11-03,21.0,20.0,Society,Drug/Narcotic Violations,Drug/Narcotic Offenses
6770665,Moffat,2015-11-03,21.0,17.0,Society,Drug/Narcotic Violations,Drug/Narcotic Offenses

In [21]:
# SAVE IT

df.to_csv('output/all.csv')